.burgerMenu-button{
    background-image: url(../Images/Logos/menu.svg);
    height: 40px;
    width: 40px;
    cursor: pointer; 
    padding: 0;
    border: none;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
}

.burgerMenu-closebutton{
    background-image: url(../Images/Logos/close-menu.svg);
    height: 40px;
    width: 40px;
    cursor: pointer; 
    padding: 0;
    border: none;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
}

.burgerMenu-button:focus{
    outline: none;
}

@media(min-width: 769px){
    .burgerMenu-button{
        display: none;
    }
}
