 .toolbar{
     position: relative;
     width: 100%;
     top: 0;
     left: 0;
     height: 76px;
     background: #e3e3e3;
 }

 .toolbar-navigation{
     display: flex;
     height: 100%;
     align-items: center;
     padding: 0 1rem;   
 }
 
 .toolbar-logo img{
    margin-top: 5px;
    margin-left: -5px;
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
 }
 
 .spacer{
     flex: 1; 
 }

 .toolbar-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    display: flex;
 }

 .toolbar-navigation-items li{
    padding: 0 0.5rem;
 }

 .toolbar-navigation-items a {
    color: #40494A;
    text-decoration: none;
 }

 .toolbar-navigation-items a:hover,
 .toolbar-navigation-items a:active{
    color: #00ff00;
 }

 @media (max-width: 320px) {
      .toolbar-logo img {
         width: 225px;
         height: 60px;
      }

 }
 
 @media (min-width: 321px) {
    .toolbar-logo img {
      width: 275px;
      height: 60px;
    }
 }


 @media (max-width: 768px) {

    .toolbar-navigation-items {
       display: none;
    } 
 }



 