
.Contact{
    background-image: url(../Images//Logos//Girl3.2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    z-index: -1;
}




/* ///// inputs /////*/

input:focus ~ label, input:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -20px;
    left: 40px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

textarea:focus ~ label, textarea:valid ~ label{
    font-size: 0.75em;
    color: #999;
    top: -20px;
    left: 38px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

.styled-input-area {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
    width: 100%;
}

@media only screen and (min-width: 321px){
    .styled-input{
        width: 80%;
    }
}

@media only screen and (max-width: 320px){
    .styled-input {
        width: 100%;
    }
}

@media only screen and (min-width: 427px){
    .styled-input{
        width: 60%;
    }
    
}


.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: -4px;
    left: 45px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input-area label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 0;
    left: 45px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    color: #40494A;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: horizontal;

}


.submit-btn {
    padding: 7px 35px;
    margin: 20px auto;
    display: inline-block;
    background-color: white;
    color: #40494A;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: solid white 2px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

.flexie{
    display: flex;
    max-height: 50px;
}

.flexie img{
    width: 60px;
    height: 60px;
    padding: 5px;
    border: none;
    background: #8EC6C1
}

.flexie-text-area{
    display: flex;
}

.flexie-text-area img{
    width: 60px;
    min-height: 15em;
    padding: 5px;
    border: none;
    background: #8EC6C1
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .submit-btn{
        float: none;
        text-align: center;
        width: 100%;
    }

}


input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}